h1 {
    color: black;
    font-size: 300%;
}
body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.horizontal-line {
    margin-top: 20px;
    border-top: 1px solid black;
}

h2 {
    width: 180px;
    font-size: smaller;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.albumimage {
    width: 40%;
    height: 40%;
}